{% extends 'console.html' %}
{% load console_extras %}

{% block title %}PAWConsole - Volunteers{% endblock %}

{% block tool %}
<div class="row">
  <div class="col-md">
    <h1>Volunteer</h1>
    <table class="table">
      <tr>
        <td>Fan Name:</td>
        <td>{{volunteer.fan_name}}</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>
          <a href="mailto:{{volunteer.email}}">{{volunteer.email}}
            <i class="far fa-envelope"></i></a>
        </td>
      </tr>
      <tr>
        <td>Phone Number:</td>
        <td>
          <a href="tel:{{volunteer.phone_number}}">{{volunteer.phone_number}}
            <i class="fas fa-phone"></i></a>
        </td>
      </tr>
      <tr>
        <td>Twitter Handle:</td>
        <td>{{volunteer.twitter_handle}}</td>
      </tr>
      <tr>
        <td>Telegram Handle:</td>
        <td>
          <a href="https://t.me/{{volunteer.telegram_handle}}">{{volunteer.telegram_handle}}
            <i class="fab fa-telegram"></i></a>
        </td>
      </tr>
      <tr>
        <td>Department Interests:</td>
        <td>
          <ul class="px-0">
            {% for department in volunteer.department_interest.all %}
            <li>{{department.department_name}}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>Volunteer History:</td>
        <td>{{volunteer.volunteer_history}}</td>
      </tr>
      <tr>
        <td>Special Skills:</td>
        <td>{{volunteer.special_skills}}</td>
      </tr>
      <tr>
        <td>Days Available:</td>
        <td>
          <ul class="px-0">
            {% for day in volunteer.days_available.all %}
            <li>{{day.name}}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>Time Available</td>
        <td>
          <ul class="px-0">
            {% for time in volunteer.time_availble.all %}
            <li>{{time.name}}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>Available For Setup:</td>
        <td>{{volunteer.avail_setup|yesno:"Yes,No"}}</td>
      </tr>
      <tr>
        <td>Available For Teardown:</td>
        <td>{{volunteer.avail_teardown|yesno:"Yes,No"}}</td>
      </tr>
      <tr>
        <td>State:</td>
        <td>{{volunteer.get_volunteer_state_display}} ({{volunteer.state_changed}})</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <h1>Volunteer Tasks</h1>
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <td>Recorded By</td>
          <td>Task Name</td>
          <td>Task Notes</td>
          <td>Task Start</td>
          <td>Task End</td>
          <td>Hours Worked</td>
          <td>Effective Hours Worked</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          <td>{{task.recorded_by}}</td>
          <td>{{task.task_name}}</td>
          <td class="col-2 text-break">{{task.task_notes}}</td>
          <td>{{task.task_start}}</td>
          <td>{{task.task_end|default_if_none:""}}</td>
          <td>
            {% if task.task_hours != None %}
                {{task.task_hours|pretty_delta}}
            {% endif %}
          </td>
          <td>
            {% if task.effective_hours != None %}
                {{task.effective_hours|pretty_delta}}
            {% endif %}
          </td>
          <td class="text-center">
            <a href="{% url 'console:volunteer-edit-task' volunteer.id task.id %}" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i>
              Edit</a>
            <a href="{% url 'console:volunteer-delete-task' volunteer.id task.id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i>
              Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot class="table-dark">
        <tr>
          <td colspan="6" class="text-end">Total Hours</td>
          <td>
            {% if total_hours != None %}
                {{total_hours|pretty_delta}}
            {% endif %}
          </td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <h2>Actions</h2>
    {% if volunteer.volunteer_state == "STATE_NEW" %}
    <a href="{% url 'console:volunteer-accept' volunteer.id %}" class="btn btn-primary">Accept</a>
    <a href="{% url 'console:volunteer-decline' volunteer.id %}" class="btn btn-primary">Decline</a>
    {% elif volunteer.volunteer_state == "STATE_ACCEPTED" %}
    <a href="{% url 'console:volunteer-add-task' volunteer.id %}" class="btn btn-primary">Add Task</a>
    {% endif %}
    <a href="{% url 'console:volunteer-delete' volunteer.id %}" class="btn btn-danger">Delete</a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <h2>Registration</h2>
    <a href="{{registration_search_base}}{{volunteer.email|urlencode}}" target="_blank" class="btn btn-outline-primary">{{registration_platform}} Lookup</a>
  </div>
</div>
{% endblock %}