{% extends 'console.html' %}

{% block title %}PAWConsole - Party Hosts{% endblock %}

{% block tool %}
<h1>Party Host Details</h1>
<table class="table">
    <tr>
        <td>Fan Name:</td>
        <td>{{host.fan_name}}</td>
    </tr>
    <tr>
        <td>Legal Name:</td>
        <td>{{host.legal_name}}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{host.email}}</td>
    </tr>
    <tr>
        <td>Phone Number:</td>
        <td>{{host.phone_number}}</td>
    </tr>
    <tr>
        <td>Twitter/BSky Handle:</td>
        <td>{{host.twitter_handle}}</td>
    </tr>
    <tr>
        <td>Telegram Handle:</td>
        <td>
            <a href="https://t.me/{{host.telegram_handle}}"><i class="fab fa-telegram"></i> {{host.telegram_handle}}</a>
        </td>
    </tr>
    <tr>
        <td>RBS Certification:</td>
        <td>{{host.rbs_certification|default:'<strong>N/A</strong>'}}</td>
    </tr>
    <tr>
        <td>Hotel Primary:</td>
        <td>{{host.hotel_primary}}</td>
    </tr>
    <tr>
        <td>Hotel Ack. Number:</td>
        <td>{{host.hotel_ack_num}}</td>
    </tr>
    <tr>
        <td>Party Days:</td>
        <td>
            <ul class="px-0">
                {% for day in host.party_days.all %}
                <li>{{day.name}}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <td>Party Name:</td>
        <td>{{host.party_name}}</td>
    </tr>
    <tr>
        <td>Party Description</td>
        <td>{{host.party_description}}</td>
    </tr>
    <tr>
        <td>Acknowledgements:</td>
        <td>
            <ul class="px-0">
                {% if host.ack_no_smoking %}
                <li>Acknowledged No Smoking</li>
                {% endif %}
                {% if host.ack_amplified_sound %}
                <li>Acknowledged Amplified Sound</li>
                {% endif %}
                {% if host.ack_verify_age %}
                <li>Acknowledged Age Verification</li>
                {% endif %}
                {% if host.ack_wristbands %}
                <li>Acknowledged Wristbands</li>
                {% endif %}
                {% if host.ack_closure_time %}
                <li>Acknowledged Closure Time</li>
                {% endif %}
                {% if host.ack_suspension_policy %}
                <li>Acknowledged Suspension Policy</li>
                {% endif %}
            </ul>
        </td>
    </tr>
    <tr>
        <td>State</td>
        <td>{{host.get_host_state_display}} ({{host.state_changed}})</td>
    </tr>
    {% if host.host_state == "STATE_ASSIGNED" %}
    <tr>
        <td>Assigned Room:</td>
        <td>{{host.room_number}}</td>
    </tr>
    {% endif %}
</table>
<div>
    <h2>Actions</h2>
    {% if host.host_state == "STATE_ACCEPTED" or host.host_state == "STATE_ASSIGNED" %}
    <a href="{% url 'console:host-assign' host.id %}" class="btn btn-primary">{% if host.host_state == "STATE_ASSIGNED" %}Edit{% else %}Assign{% endif %} Room</a>
    {% else %}
    <a href="{% url 'console:host-accept' host.id %}" class="btn btn-primary">Accept</a>
    <a href="{% url 'console:host-waitlist' host.id %}" class="btn btn-primary">Waitlist</a>
    {% endif %}
    <a href="{% url 'console:host-decline' host.id %}" class="btn btn-primary">Decline</a>
    <a href="{% url 'console:host-delete' host.id %}" class="btn btn-danger">Delete</a>
</div>
<div>
    <h2>Registration</h2>
    <a href="{{registration_search_base}}{{host.email|urlencode}}" target="_blank" class="btn btn-outline-primary">{{registration_platform}} Lookup</a>
</div>
{% endblock %}