{% extends 'console.html' %}

{% block title %}PAWConsole - Panels{% endblock %}

{% block tool %}
<h1>Panels</h1>
<div class="col-4">
    <table class="table">
        <tr>
            <td>Panel Name:</td>
            <td>{{panel.panel_name}}</td>
        </tr>
        <tr>
            <td>Fan Name:</td>
            <td>{{panel.fan_name}}</td>
        </tr>
        <tr>
            <td>Legal Name:</td>
            <td>{{panel.legal_name}}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{panel.email}}</td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td>{{panel.phone_number}}</td>
        </tr>
        <tr>
            <td>Twitter Handle:</td>
            <td>{{panel.twitter_handle}}</td>
        </tr>
        <tr>
            <td>Telegram Handle:</td>
            <td>
                <a href="https://t.me/{{panel.telegram_handle}}"><i class="fab fa-telegram"></i>
                    {{panel.telegram_handle}}</a>
            </td>
        </tr>
        <tr>
            <td>Panelist Bio:</td>
            <td>{{panel.panelist_bio}}</td>
        </tr>
        <tr>
            <td>Panel Description:</td>
            <td>{{panel.panel_description}}</td>
        </tr>
        <tr>
            <td>Panel Duration:</td>
            <td>{{panel.panel_duration.name}}</td>
        </tr>
        <tr>
            <td>Equipment Needs:</td>
            <td>{{panel.equipment_needs}}</td>
        </tr>
        <tr>
            <td>Contains Mature Content:</td>
            <td>{{panel.mature_content|yesno:"Yes,No"}}</td>
        </tr>
        <tr>
            <td>Panel Day:</td>
            <td>
                <ul class="px-0">
                    {% for day in panel.panel_day.all %}
                    <li>{{day.name}}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>Panel Times:</td>
            <td>
                <ul class="px-0">
                    {% for time in panel.panel_times.all %}
                    <li>{{time.name}}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>Agrees to check ID's:</td>
            <td>{{panel.check_ids|yesno:"Yes,No"}}</td>
        </tr>
        <tr>
            <td>State:</td>
            <td>{{panel.get_panel_state_display}} ({{panel.state_changed}})</td>
        </tr>
        {% if panel.panel_state == "STATE_ASSIGNED" %}
        <tr>
            <td>Panel Schedule:</td>
            <td>
                {{panel.scheduled_room}} - {{panel.scheduled_day}}@{{panel.scheduled_time|time:'h:i A'}}
            </td>
        </tr>
        {% endif %}
    </table>
</div>
<div>
    <h2>Actions</h2>
    {% if panel.panel_state == "STATE_NEW" %}
    <a href="{% url 'console:panel-accept' panel.id %}" class="btn btn-primary">Accept</a>
    <a href="{% url 'console:panel-waitlist' panel.id %}" class="btn btn-primary">Waitlist</a>
    <a href="{% url 'console:panel-deny' panel.id %}" class="btn btn-primary">Deny</a>
    {% elif panel.panel_state == "STATE_WAITLISTED" %}
    <a href="{% url 'console:panel-accept' panel.id %}" class="btn btn-primary">Accept</a>
    <a href="{% url 'console:panel-deny' panel.id %}" class="btn btn-primary">Deny</a>
    {% elif panel.panel_state == "STATE_ACCEPTED" %}
    <a href="{% url 'console:panel-assign' panel.id %}" class="btn btn-primary">Schedule</a>
    {% elif panel.panel_state == "STATE_ASSIGNED" %}
    <a href="{% url 'console:panel-unassign' panel.id %}" class="btn btn-secondary">Unschedule</a>
    <a href="{% url 'console:panel-cancel' panel.id %}" class="btn btn-warning">Cancel</a>
    {% endif %}
    <a href="{% url 'console:panel-delete' panel.id %}" class="btn btn-danger">Delete</a>
</div>
<div>
    <h2>Convention Master</h2>
    <a href="https://reg.pacanthro.org/console/index.php?file=modules%2Fregistration%2Fquicksearch.inc.php&quicksearch={{panel.email}}"
        target="_blank" class="btn btn-outline-primary">CM Lookup</a>
</div>
{% endblock %}