{% extends 'console.html' %}
{% load crispy_forms_tags %}

{% block title %}PAWConsole - Panels{% endblock %}

{% block tool %}
<div class="row">
    <h2>Panel Schedule</h2>
    {% for schedule in schedules %}
    <div class="col-md">
        <div class="card">
            <div class="card-header text-center">
                <div class="card-title">
                    <h3>{{schedule.day.name}}</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div>
                        <table class="table small">
                            <thead>
                                <tr>
                                </tr>
                                <tr>
                                    <td scope="col">Time</td>
                                    {% for event_room in event_rooms %}
                                    <td>{{event_room.room_name}}</td>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                            {% for slot in schedule.slots %}
                                <tr>
                                    <td>{{slot|time:'h:i A'}}</td>
                                        {% for event_room in event_rooms %}
                                    <td>
                                        {% for filled_slot in filled_slots %}
                                            {% if event_room == filled_slot.panel.scheduled_room %}
                                                {% if slot >= filled_slot.panel.scheduled_time and  slot <= filled_slot.end_time %}
                                                    {% if filled_slot.panel.panel_state == "STATE_CANCELED" %}
                                                    <s>
                                                    {% endif %}
                                                    <a href="{% url 'console:panel-detail' filled_slot.panel.id %}">{{filled_slot.panel.panel_name|truncatewords:3}}</a>
                                                    {% if filled_slot.panel.panel_state == "STATE_CANCELED" %}
                                                    </s>
                                                    {% endif %}
                                                    {% if slot == filled_slot.panel.scheduled_time %}
                                                    <a href="{% url 'console:panel-unassign' filled_slot.panel.id %}" class="text-right"><i class="bi bi-x-square-fill"></i></a>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row pb-2">
    <h2>Unscheduled Panels</h2>
    {% for panel in panels_unsched %}
    <div class="col-md-2">
        <form action="{% url 'console:panel-assign' panel.instance.id %}" method="post" class="form">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="card-title">{{panel.instance.panel_name}}</h4>
                </div>
                <div class="card-body">
                {% crispy panel %}
                </div>
                <div class="card-footer">
                    <input type="submit" value="Save" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}