{% extends 'console-base.html' %}
{% load crispy_forms_tags %}

{% block title %}PAWConsole - Login{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <form action="{{ request.get_full_path }}" method="POST">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">PAWConsole Login</h3>
                </div>
                <div class="card-body">
                    {% crispy form %}
                </div>
                <div class="card-footer">
                    <div>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <a href="{% url 'console:forgot-password' %}" class="btn btn-secondary">Forgot Password</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
