asgiref==3.2.3
Click==7.0
Django==3.0.7
mysqlclient==1.4.6
pkg-resources==0.0.0
psycopg2==2.8.4
python-dotenv==0.11.0
python-http-client==3.2.4
pytz==2019.3
sendgrid==3.6.5
sendgrid-django==4.2.0
sqlparse==0.3.0
