authlib==1.6.11
crispy-bootstrap5==2025.6
DateTimeRange==2.3.2
Django==5.2.13
django-crispy-forms==2.5
Markdown==3.8.1
psycopg2-binary==2.9.10
python-dotenv==1.2.1
requests==2.33.0
sendgrid-django==4.2.0
