authlib==1.6.12
crispy-bootstrap5==2025.6
DateTimeRange==2.3.2
Django==5.2.14
django-crispy-forms==2.5
django-simple-captcha==0.6.3
Markdown==3.8.1
mysqlclient==2.2.8
python-dotenv==1.2.2
requests==2.33.0
sendgrid-django==4.2.0
