{% extends "base.html" %}

{% block title %}PAW Dance Comp - Application{% endblock %}

{% block content %}
<h1>Dance Comp Application</h1>
<form action="{% url 'dancecomp:new' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="event" value="{{event.id}}">
  {% if error %}
  <div class="alert alert-danger" role="alert">{{error|safe}}</div>
  {% endif %}
  <fieldset>
    <legend>Contact Info</legend>
    <div class="form-group row">
        <label for="legal_name" class="col-sm-2 col-form-label">Legal Name</label>
        <div class="col-sm-10">
          <input name="legal_name" type="text" class="form-control" id="legal_name" required>
        </div>
    </div>
    <div class="form-group row">
      <label for="fan_name" class="col-sm-2 col-form-label">Fan Name</label>
      <div class="col-sm-10">
        <input name="fan_name" type="text" class="form-control" id="fan_name" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input name="email" type="email" class="form-control" id="email" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-sm-2 col-form-label">Phone Number</label>
      <div class="col-sm-10">
        <input name="phone" type="phone" class="form-control" id="phone" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="twitter" class="col-sm-2 col-form-label">Twitter Handle</label>
      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
          <input name="twitter" type="text" class="form-control" id="twitter">
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="telegram" class="col-sm-2 col-form-label">Telegram Handle</label>
      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
          <input name="telegram" type="text" class="form-control" id="telegram">
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="is_group" class="col-sm-2 col-form-label">Individual or Group</label>
      <div class="col-sm-10">
        <input name="is_group" type="checkbox" class="form-control" value="True" id="is_group">
      </div>
  </fieldset>
  <fieldset>
    <legend>Group Registration</legend>
    <div class="form-group row">
      <label for="performer_two" class="col-sm-2 col-form-label">Performer #2</label>
      <div class="col-sm-10">
        <input name="performer_two" type="text" class="form-control" id="performer_two">
      </div>
    </div>
    <div class="form-group row">
      <label for="performer_three" class="col-sm-2 col-form-label">Performer #3</label>
      <div class="col-sm-10">
        <input name="performer_three" type="text" class="form-control" id="performer_three">
      </div>
    </div>
    <div class="form-group row">
      <label for="performer_four" class="col-sm-2 col-form-label">Performer #4</label>
      <div class="col-sm-10">
        <input name="performer_four" type="text" class="form-control" id="performer_four">
      </div>
    </div>
    <div class="form-group row">
      <label for="performer_five" class="col-sm-2 col-form-label">Performer #5</label>
      <div class="col-sm-10">
        <input name="performer_five" type="text" class="form-control" id="performer_five">
      </div>
    </div>
  <fieldset>
    <div class="form-group row float-right">
      <div class="col">
        <input type="submit" class="btn btn-primary" value="Apply">
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}
