{% extends "base.html" %}

{% block title %}PAW Dance Comp{% endblock %}

{% block content %}
<h1>Dance Comp Policies</h1>
<h2 class="text-uppercase">Please read this:</h2>
<ul>
  <li>Dance performances should be around 3-5 minutes.</li>
  <li>You may perform as an individual or as a group.</li>
  <li>Please keep song selections to a PG-13 rating, as this is a family-friendly convention.</li>
  <li>No excessive swearing, violence, or sexual references.</li>
  <li>Songs must be submitted via Dropbox before the convention. A link will be provided to all applicants once the sign-up period ends.</li>
  <li><b>NOTE:</b> You agree to use the same email and fan name to register for the
      event when you apply to be compete. Not doing so may mean that we can
      not approve your application.</li>
  <li>By applying you agree that you understand all of the above.</li>
</ul>
<!--
{% if event.is_submissions_closed == False %}
<a href="{% url 'dancecomp:apply' %}" class="btn btn-primary btn-lg">Apply</a>
{% endif %}
-->
{% endblock %}
