{% extends "base.html" %}

{% block title %}PAW Merchants{% endblock %}

{% block content %}
<h1>Merchants</h1>
<h2 class="text-uppercase">please read this:</h2>
<ul>
  <li>This is for tables only, <span class="fw-bold">YOU MUST REGISTER FOR THE CON AS AN ATTENDEE</span>, so
      must your helpers.</li>
  <li>Table size 3'X6' with approximately 4 feet behind table. Two chairs per
      table.</li>
  <li>Basic power provided to all tables.</li>
  <li>You should have a San Jose tax permit, you can apply for one here:
      <ul>
        <li>Apply Here: <a href="https://onlineservices.cdtfa.ca.gov/">https://onlineservices.cdtfa.ca.gov/</a></li>
        <li>Details: <a href="https://www.cdtfa.ca.gov/industry/temporary-sellers.htm">https://www.cdtfa.ca.gov/industry/temporary-sellers.htm</a></li>
      </ul>
  </li>
  <li><b>NOTE:</b> Your position is not locked in until payment is received. NO refunds
      after pre-reg closes.</li>
  <li><b>NOTE:</b> You agree to use the same email and fan name to register for the
    event when you apply to be a Merchant. Not doing so may mean that we can not
    approve your application.</li>
  <li>By applying you agree that you understand all of the above.</li>
</ul>
{% if max_merchants == 0 %}
<div class="alert alert-danger" role="alert">
  Merchants applications is currently closed. :(
</div>
{% elif is_merchants_full %}
<div class="alert alert-danger" role="alert">
  Merchants is currently full. :(
</div>
{% elif event.is_submissions_closed == False and event.module_merchants_enabled %}
<a href="{% url 'merchants:apply' %}" class="btn btn-primary btn-lg">Apply Now</a>
{% endif %}
{% endblock %}
