{% extends "base.html" %}

{% block title %}PAW Merchants{% endblock %}

{% block content %}
{{page_content|safe}}
{% if max_merchants == 0 %}
<div class="alert alert-danger" role="alert">
    Sorry Applictions for the Shopping District are currently closed.
</div>
{% elif is_merchants_full %}
<div class="alert alert-danger" role="alert">
    Sorry Applictions for the Shopping District are currently full.
</div>
{% elif event.is_submissions_closed == False and event.module_merchants_enabled %}
<a href="{% url 'merchants:apply' %}" class="btn btn-primary btn-lg">Apply Now</a>
{% endif %}
{% endblock %}
                