{% extends "base.html" %}

{% block title %}PAW Party Floor - Application{% endblock %}

{% block content %}
<h1>Party Floor Application</h1>
<form action="{% url 'partyfloor:new' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="event" value="{{event.id}}">
  {% if error %}
  <div class="alert alert-danger" role="alert">{{error|safe}}</div>
  {% endif %}
  <fieldset>
    <legend>Contact Info</legend>
    <div class="form-group row">
        <label for="legal_name" class="col-sm-2 col-form-label">Legal Name</label>
        <div class="col-sm-10">
          <input name="legal_name" type="text" class="form-control" id="legal_name" required>
        </div>
    </div>
    <div class="form-group row">
      <label for="fan_name" class="col-sm-2 col-form-label">Fan Name</label>
      <div class="col-sm-10">
        <input name="fan_name" type="text" class="form-control" id="fan_name" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input name="email" type="email" class="form-control" id="email" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-sm-2 col-form-label">Phone Number</label>
      <div class="col-sm-10">
        <input name="phone" type="phone" class="form-control" id="phone" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="twitter" class="col-sm-2 col-form-label">Twither Handle</label>
      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
          <input name="twitter" type="text" class="form-control" id="twitter">
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="telegram" class="col-sm-2 col-form-label">Telegram Handle</label>
      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
          <input name="telegram" type="text" class="form-control" id="telegram">
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Hotel Info</legend>
    <div class="form-group row">
      <label for="hotel_primary" class="col-sm-2 col-form-label">Primary Name On Hotel Reservation</label>
      <div class="col-sm-10">
        <input name="hotel_primary" type="phone" class="form-control" id="hotel_primary" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="hotel_ack_num" class="col-sm-2 col-form-label">Hotel Reservation Number</label>
      <div class="col-sm-10">
        <input name="hotel_ack_num" type="phone" class="form-control" id="hotel_ack_num" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="party_days" class="col-sm-2 col-form-label">Party Days</label>
      <div class="col-sm-10">
      {% for day in days %}
        <div class="form-check">
          <input name="days" type="checkbox" id="days_{{day.key}}" value="{{day.key}}" class="form-check-input"/>
          <label for="days_{{day.key}}" class="form-check-label">{{ day.name }}</label>
        </div>
      {% endfor %}
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Acknowledgements</legend>
    <div class="form-group row">
      <div class="col">
        <div class="form-check">
          <input name="ack_no_smoking" type="checkbox" id="ack_no_smoking" value="True" class="form-check-input" required />
          <label for="ack_no_smoking" class="form-check-label">No Smoking of any kind -inside- the room or on the balcony (this includes vapes)</label>
        </div>
        <div class="form-check">
          <input name="ack_amplified_sound" type="checkbox" id="ack_amplified_sound" value="True" class="form-check-input" required />
          <label for="ack_amplified_sound" class="form-check-label">Amplified sound is not allowed on the balcony (inside rooms at reasonable levels is accepted)</label>
        </div>
        <div class="form-check">
          <input name="ack_closure_time" type="checkbox" id="ack_closure_time" value="True" class="form-check-input" required />
          <label for="ack_closure_time" class="form-check-label">The party floor closes to the public at 2AM, and normal hotel rules come into effect.</label>
        </div>
        <div class="form-check">
          <input name="ack_wristbands" type="checkbox" id="ack_wristbands" value="True" class="form-check-input" required />
          <label for="ack_wristbands" class="form-check-label">Only guests with wristbands indicating drinking age may have alcohol</label>
        </div>
        <div class="form-check">
          <input name="ack_suspension_policy" type="checkbox" id="ack_suspension_policy" value="True" class="form-check-input" required />
          <label for="ack_suspension_policy" class="form-check-label">Failure to bide by Con Staff/Hotel Security requests will result in party suspension (zero tolerance)</label>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group row float-right">
      <div class="col">
        <input type="submit" class="btn btn-primary" value="Apply">
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}
