{% extends "base.html" %}

{% block title %}PAW Party Floor{% endblock %}

{% block content %}
<h1>Party Floor Policies</h1>
<h2 class="text-uppercase">Please read this:</h2>
<ul>
  <li>Party Floor is 21+.</li>
  <li>Party Floor is a con-badge only access area.</li>
  <li>Applicants must have a paid {% now "Y" %} membership, a room reserved and provide hotel reservation number in application to be considered.</li>
  <li>Room space is confirmed on a first come, first paid basis.</li>
  <li>Limit one room per applicant.</li>
  <li>Party Floor rooms are prioritized to party hosts before buffer attendees. Party hosts have first access to the balcony-side rooms.</li>
  <li>By applying you agree that you understand all of the above.</li>
</ul>
{% if is_partyfloor_full %}
<div class="alert alert-danger" role="alert">
    Party Floor is currently full. :(
</div>
{% elif event.is_submissions_closed == False and event.module_partyfloor_enabled %}
<a href="{% url 'partyfloor:apply' %}" class="btn btn-primary btn-lg">Apply</a>
{% endif %}
{% endblock %}
