{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>{% block title %}PAW App{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" crossorigin="anonymous">

  <!-- Favicons -->
  <meta name="theme-color" content="#563d7c">

  <style>
    body {
      padding-top: 5rem;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {{ is_home|yesno:"active,"}}">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item {{ is_volunteers|yesno:"active,"}}">
          <a class="nav-link" href="/volunteers">Volunteers</a>
        </li>
        <li class="nav-item {{ is_panels|yesno:"active,"}}">
          <a class="nav-link" href="/panels">Panels</a>
        </li>
        <li class="nav-item {{ is_merchants|yesno:"active,"}}">
          <a class="nav-link" href="/merchants">Merchants</a>
        </li>
        {% if request.user != None %}
        <li class="nav-item {{ is_console|yesno:"active,"}}">
          <a class="nav-link" href="/console">Console</a>
        </li>
        {% endif %}
      </ul>
      {% if request.user %}
      <span class="navbar-text">
        <a href="/console/logout" class="nav-link">{{request.user.username}}</a>
      </span>
      {% endif %}
    </div>
  </nav>

  <main role="main" class="container">
    {% block content %}{% endblock %}
  </main><!-- /.container -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery.min.js" %}"><\/script>')</script><script src="{% static "js/bootstrap.bundle.min.js" %}" crossorigin="anonymous"></script></body>
</html>
