{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}PAWCon Apply Console{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="https://kit.fontawesome.com/3a6ea9b9db.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.js"></script>
    
    <style>
        body {
            padding-top: 5rem;
        }

        .bg-purple {
            background-color: #6f42c1;
        }
    </style>
    <!-- Custom styles for this template -->
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-purple fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link {{ is_home|yesno:" active," }}" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ is_volunteers|yesno:" active," }}" href="/volunteers">Volunteers</a>
                    </li>
                    {% if event.module_panels_enabled %}
                    <li class="nav-item">
                        <a class="nav-link {{ is_panels|yesno:" active," }}" href="/panels">Panels</a>
                    </li>
                    {% endif %}
                    {% if event.module_merchants_enabled %}
                    <li class="nav-item">
                        <a class="nav-link {{ is_merchants|yesno:" active," }}" href="/merchants">Merchants</a>
                    </li>
                    {% endif %}
                    {% if event.module_performers_enabled %}
                    <li class="nav-item">
                        <a class="nav-link {{ is_djs|yesno:" active," }}" href="/performers">DJs</a>
                    </li>
                    {% endif %}
                    {% if event.module_partyfloor_enabled %}
                    <li class="nav-item">
                        <a class="nav-link {{ is_partyfloor|yesno:" active," }}" href="/partyfloor">Party Floor</a>
                    </li>
                    {% endif %}
                    {% if event.module_competitors_enabled %}
                    <li class="nav-item">
                        <a class="nav-link {{ is_dancecomp|yesno:" active," }}" href="/dancecomp">Dance Comp</a>
                    </li>
                    {% endif %}
                    {% if request.user.id != None %}
                    <li class="nav-item">
                        <a class="nav-link {{ is_console|yesno:" active,"}}" href="/console">Console</a>
                    </li>
                    {% endif %}
                </ul>
                {% if request.user.id != None %}
                <span class="navbar-text float-end">
                    <a href="/console/logout" class="nav-link"><span class="bi-person-circle"></span>
                        {{request.user.username}}</a>
                </span>
                {% endif %}
            </div>
        </div>
    </nav>

    <main role="main" class="container-fluid">
        {% block content %}{% endblock %}
    </main><!-- /.container -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(function () {
            console.log('Initializing Toasts!');
            $('.toast').toast({
                'delay': 1000
            });
        });
    </script>
    <script>
        $(function () {
            {% block javascript %}
            {% endblock %}
        });
    </script>
</body>
</html>