<!DOCTYPE html>
<html lang="en">
<body>
  <h1>Thank You!</h1>
  <p>Greetings {{panelist.fan_name}} ({{panelist.legal_name}}),</p>
  <p>Thank you submitting your panel for {{panelist.event.event_name}}.
     Please expect an email from us later this year closer to the event to
     confirm your panel spot. Below is a summary of the information you provided
     to us for your records.</p>
  <p>Email: {{panelist.email}}</p>
  <p>Phone Number: {{panelist.phone_number}}</p>
  <p>Twitter: {{panelist.twitter_handle}}</p>
  <p>Telegram: {{panelist.telegram_handle}}</p>
  <p>Panelist Bio:</p>
  <p>{{panelist.panelist_bio}}</p>
  <p>Panel Name: {{panelist.panel_name}}</p>
  <p>Panel Description:</p>
  <p>{{panelist.panel_description}}</p>
  <p>Panel Duration: {{panelist.panel_duration}}</p>
  <p>Equipment Needs:</p>
  <p>{{panelist.equipment_needs}}</p>
  <p>Panel Contains Mature Content: {{panelist.mature_content|yesno:"Yes,No"}}</p>
  <p>Panel Day(s):</p>
  <ul>
    {% for day in panelist.panel_day.all %}
    <li>{{day.name}}</li>
    {% endfor %}
  </ul
  <p>Panel Time:</p>
  <ul>
    {% for time in panelist.panel_times.all %}
    <li>{{time.name}}</li>
    {% endfor %}
  </ul>
  <p>You Agree to Check ID's: {{panelist.check_ids|yesno:"Yes,No"}}</p>
  <p>If you have any questions, please don't hesitate to reach out at any time
     to panels@pacanthro.org</p>
  <p>Sincerely,</p>
  <p>PAWCon Programming</p>
</body>
</html>
