 <!DOCTYPE html>
 <html lang="en">
  <body>
    <h1>Thank You!</h1>
    <b>Greetings {{volunteer.fan_name}} ({{volunteer.legal_name}}),</b>
    <p>Thank you for applying to be a volunteer. Below is a summary of the info
       you sent to us for your records.</p>
    <p>Email: {{volunteer.email}}</p>
    <p>Phone: {{volunteer.phone_number}}</p>
    <p>Twitter: {{volunteer.twitter_handle}}</p>
    <p>Telegram: {{volunteer.telegram_handle}}</p>
    <p>Departments of Interest:</p>
    <ul>
      {% for department in volunteer.department_interest.all %}
      <li>{{department.department_name}}</li>
      {% endfor %}
    </ul>
    <p>Days Available:</p>
    <ul>
      {% for day in volunteer.days_available.all %}
      <li>{{day.name}}</li>
      {% endfor %}
    </ul>
    <p>Times Available:</p>
    <ul>
      {% for time in volunteer.time_availble.all %}
      <li>{{time.name}}</li>
      {% endfor %}
    </ul>
    <p>Available for Setup: {{volunteer.avail_setup|yesno:"Yes, No"}}</p>
    <p>Available for Teardown: {{volunteer.avail_teardown|yesno:"Yes, No"}}</p>
    <p>Our volunteer coordinator will reach out soon as they have time to follow
       follow up with you. If you have any questions please don't hesistate to
       reach out to volunteer@pacanthro.org any time.</p>
    <p>Sincerely,</p>
    <p>PAWCon Board</p>
  </body>
 </html>
