 <!DOCTYPE html>
 <html lang="en">
 <body>
   <h1>Thank You!</h1>
   <p><b>Greetings {{merchant.fan_name}} ({{merchant.legal_name}}),</b></p>
   <p><b>INSTRUCTIONS</b></p>
   <ul>
     <li>Have you registered to attend the con?  Has your helper registered for the con? Do that now.</li>
     <li>STOP WHEN IT ASKS FOR PAYMENT,  Reply to this email and await instructions.</li>
     <li>After we upgrade your account to merchant table we will contact you to pay.</li>
     <li>Your spot will only be locked in after payment.  You will receive a confirmation e-mail from merchant.</li>
     <li>NO REFUNDS AFTER PRE-REG CLOSES.</li>
  </ul>
  <b>Information you submitted:</b>
  <p>Email: {{merchant.email}}</p>
  <p>Legal Name: {{merchant.legal_name}}</p>
  <p>Fan Name: {{merchant.fan_name}}</p>
  <p>Phone Number: {{merchant.phone_number}}</p>
  <p>Table Size: {{merchant.table_size.name}}</p>
  <p>Business Name: {{merchant.business_name}}</p>
  <p>Description of Wares:</p>
  <p>{{merchant.wares_description}}</p>
  <p>Helper Legal Name: {{merchant.helper_legal_name}}</p>
  <p>Helper Fan Name: {{merchant.helper_fan_name}}</p>
  <p>Special Requests:</p>
  <p>{{merchant.special_requests}}</p>
  <p>Thank You,</p>
  <p>PAWCon Shopping District coordinator. (Dooze)</p>
 </body>
 </html>
