<!DOCTYPE html>
<html lang="en">
<body>
  <h1>Thank You!</h1>
  <b>Greetings {{performer.fan_name}} ({{performer.legal_name}}),</b>
  <p>Thank you submitting to be a DJ for {{peformer.event.event_name}}.</p>
  <b>Please be aware of the following:</b>
  <b>Information you submitted:</b>
  <p>Email: {{performer.email}}</p>
  <p>Phone Number: {{performer.phone_number}}</p>
  <p>Twitter: {{performer.twitter_handle}}</p>
  <p>Telegram: {{performer.telegram_handle}}</p>
  <p>DJ Biography:</p>
  <p>{{performer.biography}}</p>
  <p>Set URL: {{performer.set_url}}</p>
  <p>Sincerely,</p>
  <p>PAWCon Programming</p>
</body>
</html>
