<!DOCTYPE html>
<html lang="en">
<body>
  <h1>Thank You!</h1>
  <b>Greetings {{host.fan_name}} ({{host.legal_name}}),</b>
  <p>Thank you for submitting your party floor request for {{host.event.event_name}}.</p>
  <b>Please be aware of the following:</b>
  <ol>
    <li>The party floor is a 21+ only area.</li>
    <li>Keep in mind the hotel maintains the right to close down individual rooms
       on the party floor, as well as the entire party floor at their discretion
       if there are too many complaints of noise/rowdiness/disruption, or
       violations of hotel policy.</li>
    <li>Please listen to and implement requests by a staff member or hotel
      representative (to include hotel security). Failure can lead to closure of
      your room to non-registered room occupants, or even eviction by the hotel.</li>
    <li>It is imperative that you DO NOT make any room assignment requests with
      the hotel. This can cause you to lose your designated room, as well as
      affect other party floor hosts.</li>
    <li>When checking in to your room, only do so upon arrival at the hotel at
      the main check-in desk. NO online check-in, NO Hhonors app check-in, etc.</li>
    <li>Your room will be assigned by the PAWcon hotel liaison and hotel
      coordinator shortly before the date of the convention. You will receive an
      email once that process is complete.</li>
    <li>ID access will be provided by the convention. Anyone found circumventing,
      or attempting to circumvent access to the party floor will have their
      membership pulled, and may face eviction by the hotel.</li>
  </ol>
  <b>Information you submitted:</b>
  <p>Email: {{host.email}}</p>
  <p>Phone Number: {{host.phone_number}}</p>
  <p>Twitter: {{host.twitter_handle}}</p>
  <p>Telegram: {{host.telegram_handle}}</p>
  <p>Hotel Primary: {{host.hotel_primary}}</p>
  <p>Hotel Reservation Number: {{host.hotel_ack_num}}</p>
  <p>Party Days:</p>
  <ul>
    {% for time in host.party_days.all %}
    <li>{{time.name}}</li>
    {% endfor %}
  </ul>
  <p>If you have any questions, please don't hesitate to reach out at any time
     to hotel@pacanthro.org</p>
  <p>Sincerely,</p>
  <p>PAWCon Partyfloor</p>
</body>
</html>
