<!DOCTYPE html>
<html lang="en">
<body>
  <h1>Hello! You've been assigned a room on the Party Floor.</h1>
  <p><b>Greetings {{host.fan_name}} ({{host.legal_name}}),</b></p>
  <p>Your room has been assigned.</p>
  <p>You have been assigned room {{host.room_number}} on the party floor.</p>
  <p><p>Please be aware of the following:</b></p>
  <ol>
    <li>The party floor is a 21+ only area.</li>
    <li>Keep in mind the hotel maintains the right to close down individual
      rooms on the party floor, as well as the entire party floor at their
      discretion if there are too many complaints of noise/rowdiness/disruption,
      or violations of hotel policy.</li>
    <li>Please listen to and implement requests by a staff member or hotel
      representative (to include hotel security). Failure can lead to closure of
      your room to non-registered room occupants, or even eviction by the hotel.</li>
    <li>It is imperative that you DO NOT make any room assignment requests with
      the hotel. This can cause you to lose your designated room, as well as
      affect other party floor hosts.</li>
    <li>When checking in to your room, only do so upon arrival at the hotel at
      the main check-in desk. NO online check-in, NO Hhonors app check-in, etc.</li>
    <li>ID/badge access to the party floor will be provided by the convention,
      you are required to verify legal drinking age of anyone you serve drinks
      to. Anyone found circumventing, or attempting to circumvent access to the
      party floor, or drinking under the legal age, will have their membership
      pulled, and may face eviction by the hotel. Liability of anyone found
      drinking under the legal age is that of each party host.</li>
    <li>Party floor hours are from 8:00pm until 12:30am on Fri & Sat. At 12:30am
      doors will be required to be shut, and anyone remaining in your room is
      subject to standard hotel noise/disturbance policies.</li>
  </ol>
  <p>If you have any questions, please don't hesitate to reach out at any time
    to <a href="mailto:hotel@pacanthro.org">hotel@pacanthro.org</a></p>
  <p>Sincerely,</p>
  <p>PAWCon Partyfloor</p>
</body>
</html>
