<!DOCTYPE html>
<html lang="en">

<body>
    <h1>Hello! You've been assigned a table in the Shopping District</h1>
    <p><b>Greetings {{merchant.fan_name}} ({{merchant.legal_name}}),</b></p>
    <p>Your table has been assigned.</p>
    <p>You have been assigned a table {{merchant.table_number}} in the Shopping District.</p>
    <p>If you have any questions, please don't hesitate to reach out at any time
        to <a href="mailto:merchant@pacanthro.org">merchant@pacanthro.org</a></p>
    <p>Thank You,</p>
    <p>PAWCon Shopping District coordinator. (Dooze)</p>
</body>

</html>