<!DOCTYPE html>
<html lang="en">

<body>
    <h1>Thank You!</h1>
    <p><b>Greetings {{merchant.fan_name}} ({{merchant.legal_name}}),</b></p>
    <p>Thank you for your application to be a merchant.</p>
    <p>As of this moment the shopping district is full, however you have been placed on the waitlist. If anyone cancels and we
    have an opening, we will reach out to confirm your continued interest as a merchant.</p>
    <p>Thank you,</p>
    <p>PAWCon Shopping District coordinator. (Dooze)</p>
</body>

</html>