{% extends 'base.html' %}

{% block title %}PAW Panels{% endblock %}

{% block content %}
<h1>Panels</h1>
<h2 class="text-uppercase">Please read this:</h2>
<ul>
  <li>You will need to check ID for any panel where adult (18+) material/topics
   will be presented. Plan to have the necessary help as this is your responsibility.</li>
  <li>You are responsible to note in the equipment field any additional time you
      need for your panel before and after for set-up/tear-down.</li>
  <li>We can ONLY accept HDMI video input.  Please bring any necessary adapters
    for a laptop to output HDMI such as a DisplayPort to HDMI convertor etc.</li>
  <li>Absolutely no nudity is allowed. All private parts must be covered to
      include front and back of the pelvis and frontal chest of female anatomy.</li>
  <li>You are not guaranteed a panel slot by filling out the form. All time & day
      slots will be taken into consideration as much as possible but should be
      understood to be preferences.</li>
  <li>If you need to cancel your panel, or otherwise will not be able to follow
      through with the duties of a panelist, it is your responsibility to inform
      us as soon as possible. Failure to inform us and/or to show up for your
      panel may result in disqualification to host a panel in the future.</li>
  <li>Failure to abide by the rules may lead to anything from the early shutdown
      of your panel to ejection from the event depending on severity.</li>
  <li>By applying you agree that you understand all of the above.</li>
</ul>
<a href="{% url 'panels:apply' %}" class="btn btn-primary btn-lg">Apply Now</a>
{% endblock %}
