{% extends 'system.html' %}
{% load crispy_forms_tags %}

{% block title %}PAWCon Apply Admin - Event Rooms{% endblock %}

{% block tool %}
<h1>Edit Event Room</h1>
<div class="col-md-3">
    <form class="form" action="{% url 'system:rooms-edit' event_room.id %}" method="post">
        {% crispy form %}
        <input type="submit" value="Save" class="btn btn-primary">
        <a class="btn btn-danger" href="{% url 'system:rooms-delete' event_room.id %}">Delete</a>
    </form>
</div>
{% endblock %}
