{% extends 'system.html' %}

{% block title %}PAWCon Apply Admin - Merchant Tables{% endblock %}

{% block tool %}
<h1>Merchant Tables</h1>
<div class="row">
    <div class="col-md-3 mb-3">
        <a class="btn btn-primary" href="{% url 'system:tables-create' %}">Create</a>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Key</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for table in tables %}
                <tr>
                    <td>
                        <a href="{% url 'system:tables-edit' table.key %}">{{table.key}}</a>
                    </td>
                    <td>{{table.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}