{% extends 'system.html' %}
{% load crispy_forms_tags %}

{% block title %}PAWCon Apply Admin - Panel Durations{% endblock %}

{% block tool %}
<h1>Edit Panel Duration</h1>
<div class="col-md-3">
    <form class="form" action="{% url 'system:duration-edit' duration.key %}" method="post">
        {% crispy form %}
        <input type="submit" value="Save" class="btn btn-primary">
        <a class="btn btn-danger" href="{% url 'system:duration-delete' duration.key %}">Delete</a>
    </form>
</div>
{% endblock %}
