{% extends 'system.html' %}
{% load crispy_forms_tags %}

{% block title %}PAWCon Apply Admin - Times Available{% endblock %}

{% block tool %}
<h1>Edit Time Availble</h1>
<div class="col-md-3">
    <form class="form" action="{% url 'system:times-edit' slot.key %}" method="post">
        {% crispy form %}
        <input type="submit" value="Save" class="btn btn-primary">
        <a class="btn btn-danger" href="{% url 'system:times-delete' slot.key %}">Delete</a>
    </form>
</div>
{% endblock %}
