{% extends "base.html" %}

{% block title %}PAW DJs{% endblock %}

{% block content %}
<h1>DJ Policies</h1>
<h2 class="text-uppercase">Please read this:</h2>
<ul>
  <li>Demos needs to be 30-60 minutes in length.</li>
  <li>Demos will be evaluated for track selection, transitions, and flow.</li>
  <li>Please keep song selections to a PG-13 rating, as this is a family-friendly convention.</li>
  <li>No excessive swearing, violence, or sexual references.</li>
  <li>All genres are welcome!</li>
  <li><b>NOTE:</b> You agree to use the same email and fan name to register for the
      event when you apply to perform. Not doing so may mean that we can
      not approve your application.</li>
  <li>By applying you agree that you understand all of the above.</li>
</ul>
{% if event.is_submissions_closed == False %}
<a href="{% url 'performers:apply' %}" class="btn btn-primary btn-lg">Apply</a>
{% endif %}
{% endblock %}
