{% extends "base.html" %}

{% block title %}PAW DJs{% endblock %}

{% block content %}
<h1>DJ Policies</h1>
<h2 class="text-uppercase">Please read this:</h2>
<ul>
    <li>Demos needs to be 30-60 minutes in length.</li>
    <li>Demos will be evaluated for track selection, transitions, and flow.</li>
    <li>Please keep song selections to a PG-13 rating, as this is a family-friendly convention.</li>
    <li>No excessive swearing, violence, or sexual references.</li>
    <li>All genres are welcome!</li>
    <li>
        If choosen you will receive a free basic membership. If you want a higher tier membership you will have to pay
        the difference.
    </li>
    <li>
        To receive the discount, you will need to have an account in our registration system. Please do not pay until
        you receive your discount.
    </li>
    <li>Performer selection will occur in July. The schedule will not be announced until October.</li>
    <li>
        <b>NOTE:</b> You agree to use the same email and fan name to register for the
        event when you apply to perform. Not doing so may mean that we can
        not approve your application.
    </li>
    <li>By applying you agree that you understand all of the above.</li>
</ul>
{% if event.is_submissions_closed == False and event.module_performers_enabled %}
<a href="{% url 'performers:apply' %}" class="btn btn-primary btn-lg">Apply</a>
{% endif %}
{% endblock %}